<h1 class="text-center"><%= @store.name %></h1>

<div class="container-fluid">
  <h3>Store Type: <%= @store.storeType %></h3>
  <h4>Address: <%= @store.address %>, <%= @store.city %>, <%= @store.region %> <%= @store.postalCode %></h4>

  <h5>Store Hours:</h5>
  <ul>
    <% @store.hoursAmPm.split("; ").each do |hour| %>
      <li><%= hour %></li>
    <% end %>
  </ul>
</div>
