<h1 class="text-center">Search Results</h1>

<h3><%= @stores.count %> Total Stores</h3>

<table class="table">
  <tr>
    <th>Long Name</th>
    <th>City</th>
    <th>Distance</th>
    <th>Phone Number</th>
    <th>Store Type</th>
  </tr>

  <% @stores.each do |store| %>
    <tr>
      <td><%= store.longName %></td>
      <td><%= store.city %></td>
      <td><%= store.distance %></td>
      <td><%= store.phone %></td>
      <td><%= store.storeType %></td>
    </tr>
  <% end %>
</table>
